*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main{
    padding: 50px 150px;
  }
  .container{
    background-color: rgb(228, 214, 214);
    padding: 20px;
  }
  .cart-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(201, 200, 200);
    padding: 20px;
    margin-bottom: 10px;
  }
  img{
    width: 320px;
    height: 220px;
    padding-top: 10px;
  }
  p{
    padding: 10px;
    font-size: 20px;
  }
  .price{
    font-size: 26px;
    margin-left: 10px;
    font-weight: bold;
    color: rgb(63, 24, 24);
    border-bottom: 1px solid black;
  }
  h2{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 25px;
  }
  main{
    background-color: rgb(236, 236, 236);
  }
  .car{
    height: 100vh;
    scroll-snap-type: y mandatory; 
    overflow-y: scroll; 
  }
  
  .select-container{
    background-color: rgb(77, 74, 74);
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  label{
    color: white;
    margin-top: 8px;
    font-size: 18px;
    margin-right: 5px;
    margin-left: 8px;
  }
  select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
  }
  
  option {
    padding: 8px;
    font-size: 14px;
    background-color: #fff;
    color: #333;
  }
  .deleteCar{
    background-color: rgb(214, 42, 42);
    padding: 10px;
    color: white;
    cursor: pointer;
  }